.page {
    background-color: #0882FF;
    color: black;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-family: 'Iceland', 'cursive';
    font-family: 'Noto Serif', serif;
    }

    body{
        margin: 0;
        padding: 0;
    }